{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
            {% for error in form.type.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status(class="form-control") }}<br>
            {% for error in form.status.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p> {{ form.photo }} </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}

    </form>
</div>
{% endblock %}
