{% extends "base.html" %}

{% block content %}
    <div>
        <div class="UAIP">
            <h1 calss="cental">Предметы:</h1>
            <div class="cental"><a href="/add_item" class="btn btn-success"><h2>Добавить</h2></a></div>
            {% for item in items %}
            <div class="paing">
                <div class="borderG paingsm">
                    <h2 class="cental">{{ item.name }}</h2>
                    <p class="cental">Состояние: {{ item.status }}</p>
                    <div class="cental" >
                        <div class="descp">
                            <div class="iteml">
                                <a class="btn exit" href="/delete_item/{{ item.id }}">Удалить</a>
                            </div>
                            <div class="itemr">
                                <a class="btn btn-success" href="/edit_item/{{ item.id }}">Редактировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="UAIP">
            <h1 class="cental">Пользователи:</h1>
            {% for user in users %}
            <div class="paing">
                <div class="borderV paingsm">
                    <h2 class="cental">{{ user.name }}</h2>
                    <div class="descp">
                        <div class="itemll">
                            <h5>Доступ: {{ user.user_access }};</h5>
                        </div>
                        <div class="itemrr">
                            <h5>Почта: {{ user.email }}</h5>
                        </div>
                    </div>
                    <p>{{ user.about }}</p>
                    <div class="cental" ><a class="btn btn-success" href="/edit_user/{{ user.id }}">Редактировать</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="RP">
            <h1 class="cental">Типы объектов:</h1>
            <div class="cental"><a href="/add_type" class="btn btn-success"><h2>Добавить</h2></a></div>
            {% for type in types %}
            <div class="paing">
                <div class="borderY paingsm">
                    <h2 class="cental">{{ type.name }}</h2>
                    <h2 class="cental">{{ type.description }}</h2>
                </div>
            </div>
            {% endfor %}
        </div> 
        <div class="RP">
            <h1 class="cental">Запросы:</h1>
            {% for request in requests %}
            <div class="paing">
                {% if request.approved == True %}
                <div class="borderR paingsm polosaty">
                {% else %}
                <div class="borderR paingsm">
                {% endif %}
                    <h2 class="cental">{{ request.id }}</h2>
                    <h3 class="cental">Пользователь: {{ request.user.name }}</h3>
                    <p class="cental">Start: {{request.date_start}} End: {{request.date_end}}</p>
                    {% if request.approved == True %}
                    <div class="cental">
                        <a class="btn btn-success" href="/confirm_request/{{ request.id }}">Одобрено</a>
                    </div>
                    {% else %}
                    <div class="cental">
                        <a class="btn btn-success" href="/confirm_request/{{ request.id }}">Одобрить</a>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
{% endblock %}