{% extends "base.html" %}

{% block content %}
    <div>
        <div class="UAIP">
            <h1 calss="cental">Предметы:</h1>
            <p class="cental"><a href="/add_item" class="btn btn-success">Добавить</a></p>
            {% for item in items %}
            <div class="paing">
                <div class="borderG paingsm">
                    <h2 class="cental">{{ item.name }}</h2>
                    <p>{{ item.status }}</p>
                    <div class="cental" ><a class="btn btn-success" href="/edit_item/{{ item.id }}">Редактировать</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="UAIP">
            <h1 class="cental">Пользователи:</h1>
            {% for user in users %}
            <div class="paing">
                <div class="borderV paingsm">
                    <h2 class="cental">{{ user.name }}</h2>
                    <h3 class="cental">{{ user.user_access }}</h3>
                    <p>{{ user.about }}</p>
                    <div class="cental" ><a class="btn btn-success" href="/edit_user/{{ user.id }}">Редактировать</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="RP">
            <h1 class="cental">Типы объектов:</h1>
            <div class="cental"><a href="/add_type" class="btn btn-success"><h2>Добавить</h2></a></div>
            {% for type in types %}
            <div class="paing">
                <div class="borderY paingsm">
                    <h2 class="cental">{{ type.name }}</h2>
                    <h2 class="cental">{{ type.description }}</h2>
                </div>
            </div>
            {% endfor %}
        </div> 
        <div class="RP">
            <h1 class="cental">Запросы:</h1>
            {% for request in requests %}
            <div class="paing">
                <div class="borderR paingsm">
                    <h2 class="cental">{{ request.id }}</h2>
                    <h2 class="cental">{{ request.user_id }}</h2>
                    <p>Start: {{request.date_start}} End: {{request.date_end}}</p>
                    <div class="cental"><a class="btn btn-success" href="/confirm_request/{{ request.id }}">Одобрить</a></div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
{% endblock %}