{% extends "base.html" %}

{% block content %}
    <h1>Арендованые предметы</h1>
    {% if trtp != 0 %}
    {% for request in items %}
    <div class="itemMy">
        {% if request.type == 'Не одобрен' %}
        <div class="itemn polosatyR">
        {% elif request.type == 'Одобрен' or request.type == "Идёт" %}
        <div class="itemn stolbikG">
        {% elif request.type == 'Завершён' %}
        <div class="itemn polosaty">
        {% endif %}
            <div class="itemll">
                <img class="imgsize" src="/{{ request.asortiment.photo_href }}">
            </div>
            <div class="itemrr">
                <div>
                    <h2 class="paing">{{ request.asortiment.name }}</h2>
                    <h5 class="paing">{{ request.type }}</h5>
                    {% if request.type == 'Не одобрен' or  request.type == 'Одобрен' %}
                    <a class="borderG backcolor" href="/Unconfirm_request/{{ request.id }}">Отмена аренды</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Арендованых предметов нет!</h1>
    {% endif %}
{% endblock %}