{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <h1>Одобрение запроса</h1>
        <div class="cental">
            <h1>ID запроса:     {{ request.id }}</h1>
        </div>
        <div class="cental">
            <h2>Пользователь:   {{ request.user.name }}</h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            <div>
                {{ form.description.label }}
            </div>
            <div>
                {{ form.description(class="form-control") }}
            </div>
            <div>
                {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="cental marg">
                <div>
                    {{ form.confirmed.label }}
                </div>
                <div>
                    {{ form.confirmed(class="form-control") }}
                </div>
            </div>
            <div>
                {% for error in form.confirmed.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cental">
            {{ form.submit(type="submit", class="btn btn-primary", value="Изменить") }}
        </div>
        <p>
            {{ message }}
        </p>
        </form>
    </div>
</div>
{% endblock %}
