{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <div>
            <h1>{{ user.name }}</h1>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            <div>
                {{ form.status.label }}
            </div>
            <div>
                {{ form.status(class="form-control") }}
            </div>
            <div>
                {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <div>
                {{ form.access.label }}
            </div>
            <div>
                {{ form.access(class="form-control") }}
            </div>
            <div>
                {% for error in form.access.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
        <p>
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </p>
        <p>
            {{ message }}
        </p>
        </form>
    </div>
</div>
{% endblock %}
