{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Редактирование предмета</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <h1>{{ user.name }}</h1>
            <div>
                {{ form.hidden_tag() }}
                <div>
                    <div class="paing">
                        <h4>{{ form.status.label }}</h4>
                    </div>
                    <div>
                        {{ form.status(class="form-control") }}
                    </div>
                    <div>
                        {% for error in form.status.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="paing">
                        <h4>{{ form.access.label }}</h4>
                    </div>
                    <div>
                        {{ form.access(class="selectf", choices=choises) }}
                    </div>
                    <div>
                        {% for error in form.access.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                 <div class="cental paing">{{ form.submit(type="submit", class="btn btn-primary", value="Изменить") }}</div>
                <p>{{ message }}</p>
            </div>
        </form>
</div>
{% endblock %}