{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <img class="imgadsize borderG" src="/{{ item.photo_href }}">
    </div>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                {{ form.hidden_tag() }}
                <div>
                    <div>
                        {{ form.name.label }}
                    </div>
                    <div>
                        {{ form.name(class="form-control") }}
                    </div>
                    <div>
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">
                        {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div>
                        Описание: {{ item.idtype.description }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form.status.label }}
                    </div>
                    <div>
                        {{ form.status(class="form-control") }}
                    </div>
                    <div>
                        {% for error in form.status.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <p>{{ message }}</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
