{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Редактирование предмета</h1>
    <div class="iteml">
        <img class="imgadsize borderG" src="/{{ item.photo_href }}">
    </div>
    <div class="itemr">
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                {{ form.hidden_tag() }}
                <div>
                    <div class="paing">
                        <h4>{{ form.name.label }}</h4>
                    </div>
                    <div>
                        {{ form.name(class="form-control") }}
                    </div>
                    <div>
                        {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">
                        {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="paing">
                        <h5>Описание: {{ item.idtype.description }}</h5>
                    </div>
                </div>
                <div>
                    <div class="paing">
                        <h4>{{ form.status.label }}</h4>
                    </div>
                    <div>
                        {{ form.status(class="form-control") }}
                    </div>
                    <div>
                        {% for error in form.status.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                 <div class="cental paing"><p>{{ form.submit(type="submit", class="btn btn-primary", value="Изменить") }}</p></div>
                <p>{{ form.errors }}</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
