{% extends "base.html" %}

{% block content %}
    {% if user.user_access == 'admin' %}
        <div class="cental"><a href="/admin_panel" class="btn btn-primary">Администрирование</a></div>
    {% endif %}
    <h1>Предметы</h1>
    {% for item in news %}
    <div class="itemMy">
        <div class="itemn">
            <div class="iteml">
                <img class="imgsize" src="/{{ item.photo_href }}">
            </div>
            <div class="itemr">
                <div>
                    <h2>{{ item.name }}</h2>
                    <h2><a class="borderG backcolor" href="/request/{item.id}">Арендовать</a></h2>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}