<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body>
        <div>
            <h2>Регистрация</h2>
            <form method="post">
                <div><label for="name">Ваше ФИО через пробел </label><input type="text" name="name" id="NSP" required /></div>
                <div><label for="name">Ваша почта </label><input type="email" name="name" id="email" required /></div>
                <label for="name">Придумайте пароль </label><input type="password" name="name" id="password" required /></div>
                <div><input value="Зарегистрироваться"/></div>
            </form>
            <div>
                <a href="/autorisation">Авторизоваться</a>
            </div>
        </div>
    </body>
</html>