h1 {
    text-align: center;
}
.UAIP {
    width: 30%;
    float: left;
}
.RP {
    width: 20%;
    float: right;
}
.borderR {
    border: 5px solid darkred;
}
.borderV {
    border: 5px solid violet;
}
.borderG {
    border: 5px solid green;
}
.borderY {
    border: 5px solid yellow;
}
.borderSome {
    border: 5px solid blueviolet;
}
.cental {
    text-align: center;
}
.itemMy {
    width: 25%;
    float: left;
}