.exit {
    border:3px solid red;
    color: white;
    background-color: red;
    border-radius: 5px;
}
.exit:hover {
    border:3px solid rgb(255, 77, 77);
    color: white;
    background-color: rgb(255, 77, 77);
    text-decoration: none;
}
h1 {
    text-align: center;
}
.UAIP {
    width: 30%;
    float: left;
}
.RP {
    width: 20%;
    float: right;
}
.borderR {
    border: 5px solid #0099cc;
    border-radius: 10px;
}
.borderV {
    border: 5px solid #000000;
    border-radius: 10px;
}
.borderG {  
    border: 5px solid rgb(32, 116, 11);
    border-radius: 10px;
}
.borderY {
    border: 5px solid #878787;
    border-radius: 10px;
}
.borderSome {
    border: 5px solid #000000;
}
.cental {
    text-align: center;
}
.centall {
    box-align: center;
}
.itemMy {
    width: 25%;
    float: left;
    padding: 5px;
}
.itemn {
    padding: 5px;
    border: 3px solid green;
    display: flex;
    border-radius: 5px;
}
.iteml {
    float: left;
    width: 50%;
}
.itemll {
    float: left;
    width: 35%;
}
.itemr {
    float: right;
    width: 50%;
}
.itemrr {
    float: right;
    width: 65%;
}
.imgsize {
    height: 100px;
    height: 100px;
}
.imgadsize {
    height: 400px;
    height: 400px;
}
.backcolor {
    background-color: rgb(32, 116, 11);
    color: white;
}
.backcolorV {
    background-color: #ffffff;
    color: white;
}
.backcolorV:hover {
    background-color: rgb(160, 89, 226);
    color: white;
    text-decoration: none;
}
.backcolor:hover {
    background-color: rgb(80, 201, 80);
    color: white;
    text-decoration: none;
}
.BI {
    border: 2px solid rgb(32, 116, 11);
    border-radius: 10px;
}
.paing {
    padding: 5px;
}
.paingsm {
    padding: 3px;
}
.descp {
    display: flex;
}
.datal {
    float: left;
    width: 23%;
}
.datar {
    float: right;
    width: 23%;
}
.padr {
    padding-right: 100px;
}
.marg {
    margin-bottom: 10px;
}
.polosaty {
    background: repeating-linear-gradient(
  45deg,
  #33ccff,
  #33ccff 10px,
  #a8d9ff 10px,
  #a8d9ff 20px
);
}
.selectf {
    height: 60px;
    width: 200px;
    font-size: 30px;
}